[loggers]
keys = root, normal, mute, print

[handlers]
keys = rootHandler, normalHandler, muteHandler, printHandler

[formatters]
keys = rootFormatter, normalFormatter, muteFormatter, printFormatter

[logger_root]
level = WARNING
qualname = root
handlers = rootHandler

[handler_rootHandler]
class = StreamHandler
formatter = rootFormatter
args = (sys.stdout,)

[formatter_rootFormatter]
format = %(levelname)s - %(funcName)s - %(message)s

[logger_normal]
level = INFO
qualname = normal
handlers = normalHandler
propagate = 0

[handler_normalHandler]
class = StreamHandler
formatter = normalFormatter
args = (sys.stdout,)

[formatter_normalFormatter]
format = %(asctime)s - %(levelname)s - %(funcName)s - %(message)s
datefmt = %m/%d/%Y %I:%M:%S %p

[logger_mute]
level = ERROR
qualname = mute
handlers = muteHandler
propagate = 0

[handler_muteHandler]
class = StreamHandler
formatter = muteFormatter
args = (sys.stdout,)

[formatter_muteFormatter]
format = ""

[logger_print]
level = INFO
qualname = print
handlers = printHandler
propagate = 0

[handler_printHandler]
class = StreamHandler
formatter = printFormatter
args = (sys.stdout,)

[formatter_printFormatter]
format = %(message)s
